doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Unboxing Flexbox

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Unboxing Flexbox

      section
        h2 Outlines
        //- h3.bullet
        ul
          li Why Flexbox is a Life-saver
          li Flex Layout Box Model and Terminology
          li Responsive Design with Flexbox
          li Flex Browsers Support
          li Flex Outdated Stuff.
          li Flexbox USE CASES

      section
        //- h2
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 second slide

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!

    script(src='build/build.js')